<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head'); %>    
    </head>
    
    <body>
        <section class="section">
            <h1><span>Easy</span> Parking</h1>

            <div class="list-wrapper">
                <div class="list">

                    <% parkings.forEach(parking => { %>
                        <a class="item" data-id="<%= parking.id%>"><%= parking.name %></a>
                    <% }); %>

                </div>
            </div>

            <div class="list-wrapper">
                <div id="list" class="list">
                    <!-- <a class="lot" href="#">01</a> -->
                </div>
            </div>    
        </section>
    </body>
</html>